@font-face {
    font-family: ZefaniStencil;
    src: url("fonts/ZefaniStencil.otf") format("opentype");
}
@font-face {
    font-family: FuturaBT;
    src: url("fonts/FuturaBold.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto.ttf") format("truetype");
}
@font-face {
    font-family: OPTIBodoni-Antiqua;
    src: url("fonts/OPTIBodoni-Antiqua.otf") format("opentype");
}
@font-face {
    font-family: BrushScriptMT;
    src: url("fonts/BrushScriptMT.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 180px 782px 78px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    min-width: 1440px;
    max-width: 1440px;
    background: linear-gradient(to right, black 50%,#c0c4cb 50%);
}

.bg-animation {
    position: absolute;
    width: 1440px;
    height: 1040px;
    background-color: black;
}

.nav-bar {
    display: grid;
    opacity: 0;
    grid-template-columns: 115px 134px 59px 72px 75px 344px 54px 64px 76px 139px 36px 35px;
    align-items: center;
    justify-items: start;
    grid-area: header;
    padding-left: 120px;
    padding-right: 117px;
}

.content {
    display: grid;
    opacity: 1;
    grid-template-columns: 450px 540px 450px;
    grid-area: main;
    overflow: hidden;
}

.footer {
    opacity: 0;
    display: grid;
    grid-area: footer;
}

/* -----------------HEADER----------------- */

.link {
  color: white;
  font-family: FuturaBT;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 0.93;
  letter-spacing: normal;
  text-decoration: none;
}

.btn {
    font-family: FuturaBT; 
}

.menu-btn {
    position: relative;
    width: 100px;
    height: 35px;
    background-color: black;
    border: solid rgba(255, 255, 255, 0.27) 1.5px;
    border-radius: 5px;
}

.menu-btn-icon {
    position: absolute;
    width: 10px;
    height: 5px;
    left: 20px;
    top: 6px;
  }

.menu-btn-text {
  position: absolute;
  color: white;
  width: 34px;
  height: 12px;
  top: 10px;
  right: 20px;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: normal;
}

.like-btn {
    position: relative;
    width: 92px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    border-radius: 5px;
}

.like-btn-icon {
    position: absolute;
    top: 10px;
    left: 20px;
}

.like-btn-text {
  position: absolute;
  right: 20px;
  top: 13px;
  color: white;
  width: 27px;
  height: 12px;
  font-family: FuturaBT;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: normal;
  opacity: 1;
}

.logo {
    width: 296px;
    height: 56px;
    font-family: ZefaniStencil;
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.subscribe-btn {
  position: relative;
  width: 100px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  border-radius: 5px;
}

.subscribe-btn-icon {
  position: absolute;
  top: 12px;
  left: 20px;
}

.subscribe-btn-text {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 10px;
  color: white;
}

.search-btn {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.profile-btn {
  width: 35px;
  height: 35px;
}



/* -----------------MAIN----------------- */

.left {
    position: relative;
    opacity: 0;
}

.large-title1 {
  position: absolute;
  top: 200px;
  left: -128px;
  width: 529px;
  height: 64px;
  color: white;
  transform: rotate(-90deg);
  font-family: OPTIBodoni-Antiqua;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
}

.large-title2 {
  position: absolute;
  top: 338px;
  left: -33px;
  color: #4C4C4C;
  width: 580px;
  height: 64px;
  transform: rotate(-90deg);
  font-family: OPTIBodoni-Antiqua;
  font-size: 56px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
}

.small-title {
  position: absolute;
  transform: rotate(-90deg);
  top: 355px;
  right: -70px;
}

.small-title-content {
  display: inline-block;
  color: white;
  padding-bottom: 6px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.25;
  letter-spacing: normal;
}

.arrow-bot {
    display: inline-block;
    width: 20px;
    height: 4.5px;
}

.arrow-bot-main {
    width: 15px;
    height: 1px;
    background-color: #515151;
}

.arrow-bot-sub {
    width: 8px;
    height: 1px;
    background-color: #515151;
    transform: rotate(-30deg);
    margin-top: -3px;
    margin-left: -0.33px;
}

.arrow-top {
    display: inline-block;
    width: 20px;
    height: 4.5px;
}

.arrow-top-main {
    width: 15px;
    height: 1px;
    background-color: #515151;
    float: right;
}

.arrow-top-sub {
    width: 8px;
    height: 1px;
    background-color: #515151;
    transform: rotate(30deg);
    margin-top: -2px;
    margin-left: 12.3px;
}

.h-bar-dist {
    display: inline-block;
    height: 100%;
    width: 25px;
}

.h-bar {
    display: inline-block;
    position: absolute;
    margin-left: 12px;
    margin-top: -14px;
    width: 1px;
    height: 20px;
    opacity: 0.42;
    background-color: #6b6b6b;
}

.mid {
    position: relative;
    width: 540px;
    height: 680px;
    overflow: hidden;
}

.woman {
    position: absolute;
    top: 3px;
    opacity: 0;
    z-index: 3;
}

.woman-bg {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.dream {
  position: absolute;
  opacity: 0;
  width: 540px;
  height: 82.5px;
  top: 205px;
  left: -8px;
  font-family: BrushScriptMT;
  font-size: 159px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -2.8px;
  text-align: center;
  z-index: 2;
}

.half-circle {
    position: absolute;
    opacity: 0;
    width: 490px;
    height: 490px;
    right: 25px;
    top: -300px;
    border: none;
    border-radius: 50%;
    background-color: #e4749d;
    z-index: 2;
}

.right {
    position: relative;
}
.picture {
   position: absolute;
   right: 0;
   top: 17px;
   width: 276px;
   height: 705px;   
}

.prada {
  position: absolute;
  right: -4px;
  top: 4px;
  width: 134px;
  height: 64px;
  font-family: OPTIBodoni-Antiqua;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
}

.factory {
  position: absolute;
  top: 130px;
  right: 95px;
  z-index: 1;
  width: 223px;
  height: 64px;
  font-family: OPTIBodoni-Antiqua;
  font-size: 72px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
}

.right-elem1 {
    opacity: 0;
}

.white-text {
  position: absolute;
  top: 645px;
  right: -135px;
  color: white;
  font-family: OPTIBodoni-Antiqua;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
}

.white-sub-text {
    position: absolute;
    top: 750px;
    right: -1px;
}

.circle-area {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 3px;
}

.circle {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: none;
    background-color: white;
    opacity: 0.31;
    right: 40%;
    top: -2px;
}

.shops {
  display: inline-block;
  color: #F2F3F4;
  font-family: Roboto;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 3.1;
  letter-spacing: normal;
}

.zero {
  display: inline-block;
  color: white;
  opacity: 0.4;
  font-family: Roboto;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 3.1;
  letter-spacing: normal;
}


/* -----------------FOOTER----------------- */

.footer-content {
    
    width: 1093px;
    height: 100%;
    background-color: black;
}

.footer-pad {
    display: grid;
    grid-template-columns: 207px 41px 207px 41px 207px 41px 207px;
    grid-template-rows: auto;
    align-content: center;
    justify-content: end;
    height: 100%;
    padding-right: 21px;
}

.footer-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 30px auto;
    align-content: center;
    width: 207px;
    height: 59px;
}

.title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  color: white;
  font-family: FuturaBT;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.25;
  letter-spacing: normal;
}

.date {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  color: #242426;
  font-family: Roboto;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  letter-spacing: normal; 
  align-self: start;   
}

.photo {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    justify-self: end;
}

.v-bar {
    width: 1.5px;
    height: 40px;
    opacity: 0.66;
    background-color: #43465e;
    justify-self: center;
    align-self: center;
  }







/* -----------------ADDITIONAL CONTENT----------------- */

.left1 {
    position: relative;
    opacity: 0;
    top: 700px;
}

.mid1 {
    position: relative;
    width: 540px;
    height: 680px;
    overflow: hidden;
    top: 700px;
}

.right1 {
    position: relative;
    top: 700px;
}